.statisticsWrap{
    margin: 0 auto;
    width: 430px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    margin-bottom: 30px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: rgba(39, 38, 38, 0.5);
}
.statistics{
    display: flex;
    
}
.statistics li{
    display: flex;
    flex-basis: calc(100% / 5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.statistics li:first-child{
    background-color:skyblue;
}
.statistics li:last-child{
    background-color:aquamarine;
}
.statistics li:nth-child(2){
background-color: blueviolet;
}
.statistics li:nth-child(3){
    background-color:indianred;
}
.statistics li:nth-child(4){
    background-color: coral;
}
.statistics li:hover,
.statistics li:focus {
    opacity: 0.5;
}
.label {
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
}
.percentage{
    color: #fff;
    font-size: 16px;
}
